@theme {
  --color-white: oklch(93.7% 0.008 91.486);
  --color-black: oklch(16.6% 0.013 307.574);

  --color-stone-50: oklch(95.9% 0.006 75.406);
  --color-stone-100: oklch(91% 0.005 0.007);
  --color-stone-200: oklch(88.2% 0.004 337.362);
  --color-stone-300: oklch(83% 0.005 325.624);
  --color-stone-400: oklch(74.8% 0.007 304.203);
  --color-stone-500: oklch(61.5% 0.011 305.302);
  --color-stone-600: oklch(48.3% 0.013 297.351);
  --color-stone-700: oklch(38.5% 0.017 294.761);
  --color-stone-800: oklch(32.9% 0.02 297.792);
  --color-stone-900: oklch(25.1% 0.021 293.178);
  --color-stone-950: oklch(20.7% 0.018 294.977);

  --color-violet-50: oklch(88.5% 0.044 301.653);
  --color-violet-100: oklch(84.5% 0.07 301.69);
  --color-violet-200: oklch(79.2% 0.096 301.615);
  --color-violet-300: oklch(72.9% 0.137 300.694);
  --color-violet-400: oklch(67.5% 0.167 299.751);
  --color-violet-500: oklch(63% 0.183 298.346);
  --color-violet-600: oklch(57.9% 0.17 298.776);
  --color-violet-700: oklch(49.5% 0.146 298.606);
  --color-violet-800: oklch(40.2% 0.132 297.57);
  --color-violet-900: oklch(32.1% 0.11 296.723);
  --color-violet-950: oklch(27.8% 0.076 298.973);

  --color-pink-50: oklch(89.8% 0.041 343.783);
  --color-pink-100: oklch(86.5% 0.066 344.336);
  --color-pink-200: oklch(81.9% 0.092 344.299);
  --color-pink-300: oklch(77.3% 0.13 345.686);
  --color-pink-400: oklch(73.2% 0.159 346.734);
  --color-pink-500: oklch(69.7% 0.174 347.629);
  --color-pink-600: oklch(63.8% 0.161 347.799);
  --color-pink-700: oklch(54.6% 0.138 347.674);
  --color-pink-800: oklch(45.1% 0.124 348.477);
  --color-pink-900: oklch(36.3% 0.104 348.292);
  --color-pink-950: oklch(30.5% 0.072 346.845);

  --color-red-50: oklch(89.3% 0.035 17.821);
  --color-red-100: oklch(85.5% 0.057 18.338);
  --color-red-200: oklch(81% 0.078 18.901);
  --color-red-300: oklch(75.7% 0.114 20.073);
  --color-red-400: oklch(71.3% 0.142 21.259);
  --color-red-500: oklch(67.5% 0.156 22.129);
  --color-red-600: oklch(62.2% 0.144 22.148);
  --color-red-700: oklch(53.1% 0.124 22.237);
  --color-red-800: oklch(43.7% 0.113 22.979);
  --color-red-900: oklch(35.1% 0.095 23.307);
  --color-red-950: oklch(29.6% 0.064 21.763);

  --color-green-50: oklch(92.3% 0.046 152.135);
  --color-green-100: oklch(91% 0.067 152.168);
  --color-green-200: oklch(89.1% 0.087 151.084);
  --color-green-300: oklch(86.4% 0.132 150.195);
  --color-green-400: oklch(83.9% 0.16 149.532);
  --color-green-500: oklch(78.9% 0.173 148.674);
  --color-green-600: oklch(75.6% 0.166 148.611);
  --color-green-700: oklch(65.7% 0.139 148.919);
  --color-green-800: oklch(55% 0.125 148.413);
  --color-green-900: oklch(44.5% 0.104 148.201);
  --color-green-950: oklch(36.2% 0.072 149.333);

  --color-orange-50: oklch(92.1% 0.028 67.474);
  --color-orange-100: oklch(90.2% 0.043 67.231);
  --color-orange-200: oklch(87.1% 0.058 67.775);
  --color-orange-300: oklch(84.1% 0.082 66.333);
  --color-orange-400: oklch(81% 0.099 65.663);
  --color-orange-500: oklch(77.8% 0.108 64.629);
  --color-orange-600: oklch(71.8% 0.1 65.571);
  --color-orange-700: oklch(61.3% 0.086 65.009);
  --color-orange-800: oklch(51% 0.078 64.48);
  --color-orange-900: oklch(40.9% 0.065 63.363);
  --color-orange-950: oklch(34% 0.045 65.325);

  --color-cyan-50: oklch(92.7% 0.028 213.772);
  --color-cyan-100: oklch(91.1% 0.043 212.869);
  --color-cyan-200: oklch(88.3% 0.058 212.839);
  --color-cyan-300: oklch(85.9% 0.079 213.142);
  --color-cyan-400: oklch(83.4% 0.093 213.012);
  --color-cyan-500: oklch(80.5% 0.099 214.532);
  --color-cyan-600: oklch(74% 0.092 214.616);
  --color-cyan-700: oklch(63.4% 0.08 214.085);
  --color-cyan-800: oklch(52.9% 0.071 214.702);
  --color-cyan-900: oklch(42.7% 0.059 215.077);
  --color-cyan-950: oklch(35% 0.042 214.959);

  --color-blue-50: oklch(90.4% 0.028 253.243);
  --color-blue-100: oklch(87.2% 0.045 255.639);
  --color-blue-200: oklch(83.4% 0.06 251.652);
  --color-blue-300: oklch(78.8% 0.086 252.081);
  --color-blue-400: oklch(74.4% 0.105 252.642);
  --color-blue-500: oklch(70.9% 0.115 252.592);
  --color-blue-600: oklch(65.2% 0.107 252.5);
  --color-blue-700: oklch(55.6% 0.092 252.608);
  --color-blue-800: oklch(45.7% 0.084 253.22);
  --color-blue-900: oklch(36.6% 0.071 253.473);
  --color-blue-950: oklch(31.1% 0.048 251.744);

  --color-sky-50: oklch(91.8% 0.026 227.915);
  --color-sky-100: oklch(89.7% 0.041 228.659);
  --color-sky-200: oklch(86.1% 0.055 229.805);
  --color-sky-300: oklch(82.9% 0.077 230.126);
  --color-sky-400: oklch(79.4% 0.093 231.292);
  --color-sky-500: oklch(76.5% 0.1 231.553);
  --color-sky-600: oklch(70.1% 0.093 232.268);
  --color-sky-700: oklch(60.1% 0.08 231.579);
  --color-sky-800: oklch(49.9% 0.072 232.06);
  --color-sky-900: oklch(40% 0.06 233.37);
  --color-sky-950: oklch(33.3% 0.042 231.658);

  --color-purple-50: oklch(89% 0.046 309.896);
  --color-purple-100: oklch(85.3% 0.073 309.687);
  --color-purple-200: oklch(80.2% 0.099 309.083);
  --color-purple-300: oklch(74.5% 0.142 308.739);
  --color-purple-400: oklch(69.3% 0.172 308.049);
  --color-purple-500: oklch(65.4% 0.186 307.341);
  --color-purple-600: oklch(60% 0.173 307.301);
  --color-purple-700: oklch(51.2% 0.15 307.476);
  --color-purple-800: oklch(41.9% 0.135 306.781);
  --color-purple-900: oklch(33.5% 0.113 306.834);
  --color-purple-950: oklch(28.7% 0.078 307.484);

  --color-amber-50: oklch(92.9% 0.03 80.657);
  --color-amber-100: oklch(91.6% 0.047 82.027);
  --color-amber-200: oklch(88.6% 0.062 80.582);
  --color-amber-300: oklch(86.7% 0.086 81.343);
  --color-amber-400: oklch(83.8% 0.102 80.146);
  --color-amber-500: oklch(80.9% 0.111 78.864);
  --color-amber-600: oklch(74.7% 0.103 80.248);
  --color-amber-700: oklch(63.9% 0.089 80.317);
  --color-amber-800: oklch(53.3% 0.079 79.432);
  --color-amber-900: oklch(42.9% 0.066 78.854);
  --color-amber-950: oklch(35.4% 0.046 81.049);

  --color-yellow-50: oklch(93.7% 0.033 91.674);
  --color-yellow-100: oklch(92.8% 0.051 92.565);
  --color-yellow-200: oklch(90.2% 0.067 91.508);
  --color-yellow-300: oklch(88.8% 0.093 92.194);
  --color-yellow-400: oklch(86.4% 0.11 91.147);
  --color-yellow-500: oklch(84% 0.119 91.465);
  --color-yellow-600: oklch(77.4% 0.11 91.478);
  --color-yellow-700: oklch(66% 0.094 90.773);
  --color-yellow-800: oklch(55.2% 0.084 90.437);
  --color-yellow-900: oklch(44.7% 0.07 91.227);
  --color-yellow-950: oklch(36.6% 0.05 92.438);

  --color-emerald-50: oklch(92.7% 0.036 172.117);
  --color-emerald-100: oklch(91.5% 0.053 170.615);
  --color-emerald-200: oklch(89.7% 0.067 169.816);
  --color-emerald-300: oklch(87.3% 0.101 168.376);
  --color-emerald-400: oklch(84.9% 0.121 167.105);
  --color-emerald-500: oklch(80% 0.129 166.308);
  --color-emerald-600: oklch(76.6% 0.124 166.06);
  --color-emerald-700: oklch(66.5% 0.104 166.742);
  --color-emerald-800: oklch(55.8% 0.093 165.821);
  --color-emerald-900: oklch(45.1% 0.077 165.323);
  --color-emerald-950: oklch(36.7% 0.054 167.46);

  --color-teal-50: oklch(92.9% 0.033 187.169);
  --color-teal-100: oklch(91.9% 0.048 188.22);
  --color-teal-200: oklch(90.1% 0.06 187.088);
  --color-teal-300: oklch(87.9% 0.09 185.985);
  --color-teal-400: oklch(85.7% 0.106 185.646);
  --color-teal-500: oklch(80.9% 0.112 185.109);
  --color-teal-600: oklch(77.5% 0.107 184.548);
  --color-teal-700: oklch(67.2% 0.09 184.956);
  --color-teal-800: oklch(56.4% 0.08 184.155);
  --color-teal-900: oklch(45.6% 0.067 183.891);
  --color-teal-950: oklch(37% 0.048 185.032);

  --color-olive-50: oklch(93.7% 0.042 120.381);
  --color-olive-100: oklch(93% 0.062 121.368);
  --color-olive-200: oklch(91.5% 0.079 121.755);
  --color-olive-300: oklch(89.9% 0.121 122.65);
  --color-olive-400: oklch(87.9% 0.146 123.114);
  --color-olive-500: oklch(83% 0.157 123.723);
  --color-olive-600: oklch(79.6% 0.15 123.735);
  --color-olive-700: oklch(69% 0.126 123.511);
  --color-olive-800: oklch(57.9% 0.113 124.161);
  --color-olive-900: oklch(46.8% 0.093 124.434);
  --color-olive-950: oklch(37.9% 0.066 123.776);

  --color-lime-50: oklch(93.5% 0.043 124.484);
  --color-lime-100: oklch(92.7% 0.064 125.005);
  --color-lime-200: oklch(91.1% 0.082 125.955);
  --color-lime-300: oklch(89.3% 0.124 126.636);
  --color-lime-400: oklch(87.1% 0.151 127.387);
  --color-lime-500: oklch(82.2% 0.162 127.974);
  --color-lime-600: oklch(78.8% 0.155 127.896);
  --color-lime-700: oklch(68.3% 0.13 127.824);
  --color-lime-800: oklch(57.3% 0.117 128.105);
  --color-lime-900: oklch(46.4% 0.097 128.166);
  --color-lime-950: oklch(37.6% 0.068 127.615);

  --color-indigo-50: oklch(87.9% 0.041 284.002);
  --color-indigo-100: oklch(83.2% 0.067 283.908);
  --color-indigo-200: oklch(77.4% 0.092 283.337);
  --color-indigo-300: oklch(70.3% 0.133 281.45);
  --color-indigo-400: oklch(64.1% 0.164 279.926);
  --color-indigo-500: oklch(59.4% 0.182 278.605);
  --color-indigo-600: oklch(54.4% 0.169 278.402);
  --color-indigo-700: oklch(46.4% 0.146 278.612);
  --color-indigo-800: oklch(37.5% 0.133 277.359);
  --color-indigo-900: oklch(29.9% 0.11 276.72);
  --color-indigo-950: oklch(26.4% 0.075 278.896);

  --color-fuchsia-50: oklch(89.8% 0.051 321.89);
  --color-fuchsia-100: oklch(86.6% 0.08 321.507);
  --color-fuchsia-200: oklch(82.1% 0.109 321.823);
  --color-fuchsia-300: oklch(77.4% 0.155 321.868);
  --color-fuchsia-400: oklch(73.3% 0.187 322.197);
  --color-fuchsia-500: oklch(69.7% 0.204 322.03);
  --color-fuchsia-600: oklch(64.1% 0.19 322.217);
  --color-fuchsia-700: oklch(54.8% 0.162 321.932);
  --color-fuchsia-800: oklch(45.3% 0.146 322.098);
  --color-fuchsia-900: oklch(36.3% 0.121 321.897);
  --color-fuchsia-950: oklch(30.5% 0.085 321.742);

  --color-rose-50: oklch(89.6% 0.037 354.449);
  --color-rose-100: oklch(86.2% 0.06 354.456);
  --color-rose-200: oklch(81.4% 0.084 354.995);
  --color-rose-300: oklch(76.7% 0.12 357.112);
  --color-rose-400: oklch(72.4% 0.148 358.28);
  --color-rose-500: oklch(68.9% 0.162 359.308);
  --color-rose-600: oklch(63.1% 0.15 359.171);
  --color-rose-700: oklch(54% 0.129 359.601);
  --color-rose-800: oklch(44.5% 0.117 0.182);
  --color-rose-900: oklch(35.8% 0.097 0.344);
  --color-rose-950: oklch(30.1% 0.067 359.347);

  --color-slate-50: oklch(94.5% 0.007 260.732);
  --color-slate-100: oklch(89.6% 0.005 247.883);
  --color-slate-200: oklch(86% 0.005 258.327);
  --color-slate-300: oklch(80.5% 0.007 268.534);
  --color-slate-400: oklch(72.7% 0.01 258.344);
  --color-slate-500: oklch(61.1% 0.012 256.723);
  --color-slate-600: oklch(49.5% 0.014 259.823);
  --color-slate-700: oklch(40.7% 0.017 258.372);
  --color-slate-800: oklch(35.3% 0.017 251.8);
  --color-slate-900: oklch(28.3% 0.019 258.367);
  --color-slate-950: oklch(23.8% 0.017 259.757);

  --color-gray-50: oklch(95.4% 0.006 255.476);
  --color-gray-100: oklch(91.2% 0.003 247.861);
  --color-gray-200: oklch(88.2% 0.003 264.541);
  --color-gray-300: oklch(82.9% 0.003 264.54);
  --color-gray-400: oklch(75% 0.005 258.329);
  --color-gray-500: oklch(61.9% 0.007 255.498);
  --color-gray-600: oklch(48.8% 0.009 260.728);
  --color-gray-700: oklch(39.3% 0.011 258.365);
  --color-gray-800: oklch(33.6% 0.013 261.726);
  --color-gray-900: oklch(25.9% 0.014 261.673);
  --color-gray-950: oklch(21.6% 0.012 254.082);

  --color-zinc-50: oklch(94.8% 0.009 286.22);
  --color-zinc-100: oklch(90.8% 0.005 286.292);
  --color-zinc-200: oklch(88% 0.004 286.316);
  --color-zinc-300: oklch(82.7% 0.004 286.309);
  --color-zinc-400: oklch(74.6% 0.007 286.227);
  --color-zinc-500: oklch(61.2% 0.01 286.087);
  --color-zinc-600: oklch(48.1% 0.013 285.913);
  --color-zinc-700: oklch(38.3% 0.017 285.576);
  --color-zinc-800: oklch(32.6% 0.019 285.275);
  --color-zinc-900: oklch(24.9% 0.021 284.791);
  --color-zinc-950: oklch(20.5% 0.018 284.716);

  --color-neutral-50: oklch(95.2% 0.008 17.289);
  --color-neutral-100: oklch(91% 0.004 17.237);
  --color-neutral-200: oklch(88.2% 0.003 17.22);
  --color-neutral-300: oklch(82.9% 0.003 17.225);
  --color-neutral-400: oklch(74.9% 0.006 17.285);
  --color-neutral-500: oklch(61.6% 0.008 17.386);
  --color-neutral-600: oklch(48.6% 0.01 17.513);
  --color-neutral-700: oklch(38.9% 0.014 17.758);
  --color-neutral-800: oklch(33.3% 0.016 17.976);
  --color-neutral-900: oklch(25.7% 0.017 18.325);
  --color-neutral-950: oklch(21.2% 0.015 18.38);

  --color-mauve-50: oklch(88.7% 0.05 317.67);
  --color-mauve-100: oklch(84.5% 0.077 317.03);
  --color-mauve-200: oklch(79.4% 0.104 317.082);
  --color-mauve-300: oklch(74.1% 0.143 316.686);
  --color-mauve-400: oklch(69.8% 0.167 316.506);
  --color-mauve-500: oklch(66.3% 0.178 316.313);
  --color-mauve-600: oklch(60.8% 0.165 316.774);
  --color-mauve-700: oklch(52.6% 0.14 316.452);
  --color-mauve-800: oklch(44.2% 0.125 316.895);
  --color-mauve-900: oklch(36.6% 0.103 317.055);
  --color-mauve-950: oklch(31.3% 0.073 317.553);

  --color-mist-50: oklch(90% 0.027 249.864);
  --color-mist-100: oklch(86.9% 0.043 249.406);
  --color-mist-200: oklch(82.4% 0.057 250.144);
  --color-mist-300: oklch(78.1% 0.079 250.586);
  --color-mist-400: oklch(74.2% 0.092 250.588);
  --color-mist-500: oklch(70.8% 0.099 251.12);
  --color-mist-600: oklch(65% 0.092 251.309);
  --color-mist-700: oklch(56.5% 0.078 251.697);
  --color-mist-800: oklch(47.6% 0.07 251.495);
  --color-mist-900: oklch(39.7% 0.057 251.165);
  --color-mist-950: oklch(33.9% 0.04 251.772);

  --color-brown-50: oklch(92.4% 0.03 78.778);
  --color-brown-100: oklch(90.1% 0.047 77.62);
  --color-brown-200: oklch(86.8% 0.064 77.783);
  --color-brown-300: oklch(83.8% 0.086 76.61);
  --color-brown-400: oklch(80.9% 0.102 76.652);
  --color-brown-500: oklch(77.8% 0.109 75.782);
  --color-brown-600: oklch(71.1% 0.101 76.217);
  --color-brown-700: oklch(61.1% 0.087 75.544);
  --color-brown-800: oklch(51.6% 0.079 75.298);
  --color-brown-900: oklch(42.6% 0.067 74.98);
  --color-brown-950: oklch(35.4% 0.049 77.088);

  --color-taupe-50: oklch(92.4% 0.03 85.565);
  --color-taupe-100: oklch(90.2% 0.046 84.56);
  --color-taupe-200: oklch(86.9% 0.06 86.96);
  --color-taupe-300: oklch(84% 0.081 84.956);
  --color-taupe-400: oklch(81.1% 0.094 85.201);
  --color-taupe-500: oklch(78.1% 0.1 85.155);
  --color-taupe-600: oklch(71.5% 0.091 85.369);
  --color-taupe-700: oklch(61.5% 0.076 84.558);
  --color-taupe-800: oklch(52% 0.069 85.461);
  --color-taupe-900: oklch(42.9% 0.057 84.726);
  --color-taupe-950: oklch(36.4% 0.04 87.762);

  --color-maroon-50: oklch(89.3% 0.035 17.821);
  --color-maroon-100: oklch(85.7% 0.056 18.308);
  --color-maroon-200: oklch(81% 0.078 18.901);
  --color-maroon-300: oklch(75.7% 0.114 20.073);
  --color-maroon-400: oklch(71.2% 0.141 21.226);
  --color-maroon-500: oklch(67.5% 0.156 22.129);
  --color-maroon-600: oklch(62% 0.145 22.226);
  --color-maroon-700: oklch(53.1% 0.124 22.237);
  --color-maroon-800: oklch(43.7% 0.113 22.979);
  --color-maroon-900: oklch(35.1% 0.095 23.307);
  --color-maroon-950: oklch(29.6% 0.064 21.763);
}
