@theme {
  --color-white: oklch(99% 0.002 17.194);
  --color-black: oklch(7.7% 0.011 20.039);

  --color-stone-50: oklch(96% 0.002 17.195);
  --color-stone-100: oklch(92.3% 0.002 17.197);
  --color-stone-200: oklch(89% 0.002 17.199);
  --color-stone-300: oklch(82.9% 0.003 17.225);
  --color-stone-400: oklch(72.4% 0.003 17.237);
  --color-stone-500: oklch(59.6% 0.004 17.259);
  --color-stone-600: oklch(44.9% 0.004 17.302);
  --color-stone-700: oklch(30.8% 0.004 17.39);
  --color-stone-800: oklch(26.4% 0.004 17.442);
  --color-stone-900: oklch(19.8% 0.003 17.428);
  --color-stone-950: oklch(15.2% 0.003 17.538);

  --color-maroon-50: oklch(92.6% 0.019 17.494);
  --color-maroon-100: oklch(84.3% 0.042 18.024);
  --color-maroon-200: oklch(75.2% 0.074 18.96);
  --color-maroon-300: oklch(65.4% 0.108 20.431);
  --color-maroon-400: oklch(57.4% 0.137 22.381);
  --color-maroon-500: oklch(49.1% 0.132 23.315);
  --color-maroon-600: oklch(44.5% 0.117 23.075);
  --color-maroon-700: oklch(38.7% 0.1 22.937);
  --color-maroon-800: oklch(33.3% 0.082 22.544);
  --color-maroon-900: oklch(26.8% 0.064 22.395);
  --color-maroon-950: oklch(18.1% 0.035 21.077);

  --color-brown-50: oklch(93.7% 0.017 76.109);
  --color-brown-100: oklch(87.4% 0.033 67.37);
  --color-brown-200: oklch(80.9% 0.056 70.528);
  --color-brown-300: oklch(73.6% 0.077 68.765);
  --color-brown-400: oklch(66.4% 0.096 65.378);
  --color-brown-500: oklch(58.1% 0.091 65.986);
  --color-brown-600: oklch(52.3% 0.08 66.405);
  --color-brown-700: oklch(44.9% 0.069 66.066);
  --color-brown-800: oklch(38.7% 0.057 66.693);
  --color-brown-900: oklch(31.2% 0.044 65.053);
  --color-brown-950: oklch(20.8% 0.025 71.394);

  --color-rose-50: oklch(91.8% 0.024 347.216);
  --color-rose-100: oklch(84.2% 0.049 349.477);
  --color-rose-200: oklch(75.5% 0.083 350.963);
  --color-rose-300: oklch(66.3% 0.115 353.127);
  --color-rose-400: oklch(58.5% 0.146 355.669);
  --color-rose-500: oklch(50.6% 0.139 356.225);
  --color-rose-600: oklch(45.6% 0.123 355.979);
  --color-rose-700: oklch(39.6% 0.105 355.374);
  --color-rose-800: oklch(34.1% 0.086 355.357);
  --color-rose-900: oklch(27.6% 0.067 354.154);
  --color-rose-950: oklch(18.6% 0.039 354.466);

  --color-teal-50: oklch(93.1% 0.02 185.478);
  --color-teal-100: oklch(88.8% 0.043 187.337);
  --color-teal-200: oklch(83.2% 0.064 189.794);
  --color-teal-300: oklch(77.6% 0.085 187.864);
  --color-teal-400: oklch(72.4% 0.099 187.659);
  --color-teal-500: oklch(63.9% 0.092 187.692);
  --color-teal-600: oklch(57.6% 0.082 186.606);
  --color-teal-700: oklch(49.9% 0.07 186.098);
  --color-teal-800: oklch(42.9% 0.06 187.244);
  --color-teal-900: oklch(34.2% 0.046 190.854);
  --color-teal-950: oklch(22.6% 0.026 187.052);

  --color-olive-50: oklch(93.7% 0.024 101.682);
  --color-olive-100: oklch(89.5% 0.047 101.906);
  --color-olive-200: oklch(84.6% 0.074 102.683);
  --color-olive-300: oklch(79.5% 0.1 102.635);
  --color-olive-400: oklch(74.4% 0.117 102.741);
  --color-olive-500: oklch(65.4% 0.11 102.915);
  --color-olive-600: oklch(59.2% 0.098 102.668);
  --color-olive-700: oklch(51.5% 0.084 102.113);
  --color-olive-800: oklch(43.7% 0.07 102.508);
  --color-olive-900: oklch(35.1% 0.055 103.16);
  --color-olive-950: oklch(23.2% 0.032 103.248);

  --color-blue-50: oklch(93.3% 0.015 228.97);
  --color-blue-100: oklch(87% 0.033 229.308);
  --color-blue-200: oklch(79.8% 0.053 230.471);
  --color-blue-300: oklch(71.7% 0.073 232.563);
  --color-blue-400: oklch(64.3% 0.09 234.658);
  --color-blue-500: oklch(55.9% 0.085 235.048);
  --color-blue-600: oklch(50.4% 0.075 234.849);
  --color-blue-700: oklch(43.9% 0.064 233.596);
  --color-blue-800: oklch(37.6% 0.053 233.606);
  --color-blue-900: oklch(30% 0.042 235.82);
  --color-blue-950: oklch(20.1% 0.023 233.118);

  --color-sky-50: oklch(94.4% 0.015 218.051);
  --color-sky-100: oklch(88% 0.032 219.109);
  --color-sky-200: oklch(81.6% 0.054 217.601);
  --color-sky-300: oklch(73.9% 0.073 219.084);
  --color-sky-400: oklch(67.4% 0.087 220.601);
  --color-sky-500: oklch(58.5% 0.082 220.786);
  --color-sky-600: oklch(52.9% 0.073 220.982);
  --color-sky-700: oklch(46% 0.062 220.089);
  --color-sky-800: oklch(39.2% 0.051 220.765);
  --color-sky-900: oklch(31.4% 0.041 221.564);
  --color-sky-950: oklch(20.7% 0.023 221.464);

  --color-purple-50: oklch(92.5% 0.025 309.362);
  --color-purple-100: oklch(83.9% 0.055 309.436);
  --color-purple-200: oklch(74.5% 0.095 309.174);
  --color-purple-300: oklch(64% 0.134 308.221);
  --color-purple-400: oklch(55.3% 0.165 307.08);
  --color-purple-500: oklch(46.8% 0.157 306.382);
  --color-purple-600: oklch(42.7% 0.139 306.938);
  --color-purple-700: oklch(37.1% 0.119 307.246);
  --color-purple-800: oklch(37.1% 0.119 307.246);
  --color-purple-900: oklch(25.9% 0.077 307.776);
  --color-purple-950: oklch(17.7% 0.042 308.009);

  --color-red-50: oklch(92.7% 0.019 9.321);
  --color-red-100: oklch(84.4% 0.043 10.677);
  --color-red-200: oklch(75.4% 0.075 12.585);
  --color-red-300: oklch(65.6% 0.108 13.788);
  --color-red-400: oklch(57.6% 0.137 16.093);
  --color-red-500: oklch(49.3% 0.132 17.364);
  --color-red-600: oklch(44.7% 0.116 17.501);
  --color-red-700: oklch(38.8% 0.099 16.978);
  --color-red-800: oklch(33.4% 0.081 17.08);
  --color-red-900: oklch(26.9% 0.064 16.495);
  --color-red-950: oklch(18.2% 0.035 14.827);

  --color-amber-50: oklch(94.8% 0.016 82.792);
  --color-amber-100: oklch(88.7% 0.034 80.293);
  --color-amber-200: oklch(82.7% 0.058 80.793);
  --color-amber-300: oklch(75.4% 0.08 80.134);
  --color-amber-400: oklch(69.2% 0.097 79.577);
  --color-amber-500: oklch(60.2% 0.092 79.452);
  --color-amber-600: oklch(54.4% 0.082 79.494);
  --color-amber-700: oklch(47% 0.07 78.861);
  --color-amber-800: oklch(40.1% 0.057 77.991);
  --color-amber-900: oklch(32.3% 0.046 79.788);
  --color-amber-950: oklch(21.4% 0.026 82.112);

  --color-orange-50: oklch(94.4% 0.015 70.885);
  --color-orange-100: oklch(88.2% 0.033 71.87);
  --color-orange-200: oklch(81.7% 0.056 72.318);
  --color-orange-300: oklch(74% 0.078 71.372);
  --color-orange-400: oklch(67.4% 0.095 70.245);
  --color-orange-500: oklch(58.3% 0.091 69.368);
  --color-orange-600: oklch(52.9% 0.08 70.397);
  --color-orange-700: oklch(45.9% 0.069 70.973);
  --color-orange-800: oklch(39.2% 0.056 69.939);
  --color-orange-900: oklch(31.6% 0.045 71.786);
  --color-orange-950: oklch(20.8% 0.025 71.394);

  --color-yellow-50: oklch(95.2% 0.018 92.685);
  --color-yellow-100: oklch(89.7% 0.038 92.249);
  --color-yellow-200: oklch(84.3% 0.064 92.471);
  --color-yellow-300: oklch(77.4% 0.087 91.192);
  --color-yellow-400: oklch(71.7% 0.104 90.78);
  --color-yellow-500: oklch(62.5% 0.098 90.636);
  --color-yellow-600: oklch(56.5% 0.087 91.232);
  --color-yellow-700: oklch(49% 0.075 91.664);
  --color-yellow-800: oklch(41.7% 0.061 90.74);
  --color-yellow-900: oklch(33.6% 0.049 91.749);
  --color-yellow-950: oklch(21.9% 0.027 91.566);

  --color-emerald-50: oklch(95% 0.02 172.784);
  --color-emerald-100: oklch(89.4% 0.043 170.411);
  --color-emerald-200: oklch(84% 0.071 169.569);
  --color-emerald-300: oklch(77.6% 0.096 167.837);
  --color-emerald-400: oklch(72.2% 0.115 166.226);
  --color-emerald-500: oklch(63.1% 0.108 165.664);
  --color-emerald-600: oklch(57% 0.095 165.808);
  --color-emerald-700: oklch(49.3% 0.082 165.514);
  --color-emerald-800: oklch(42.1% 0.068 165.232);
  --color-emerald-900: oklch(33.7% 0.053 166.342);
  --color-emerald-950: oklch(22% 0.03 168.555);

  --color-green-50: oklch(94.9% 0.023 157.59);
  --color-green-100: oklch(89.2% 0.05 157.946);
  --color-green-200: oklch(83.6% 0.084 156.487);
  --color-green-300: oklch(77% 0.115 155.058);
  --color-green-400: oklch(71.6% 0.139 153.271);
  --color-green-500: oklch(62.5% 0.132 152.409);
  --color-green-600: oklch(56.4% 0.117 152.626);
  --color-green-700: oklch(48.9% 0.1 152.979);
  --color-green-800: oklch(41.7% 0.083 152.986);
  --color-green-900: oklch(33.4% 0.065 153.183);
  --color-green-950: oklch(21.8% 0.037 153.633);

  --color-lime-50: oklch(95.4% 0.024 125.189);
  --color-lime-100: oklch(90.4% 0.052 125.403);
  --color-lime-200: oklch(85.5% 0.087 126.006);
  --color-lime-300: oklch(79.4% 0.119 126.571);
  --color-lime-400: oklch(74.2% 0.143 127.584);
  --color-lime-500: oklch(64.9% 0.136 128.324);
  --color-lime-600: oklch(58.6% 0.12 128.057);
  --color-lime-700: oklch(50.7% 0.103 127.992);
  --color-lime-800: oklch(43.3% 0.085 127.807);
  --color-lime-900: oklch(34.7% 0.067 127.36);
  --color-lime-950: oklch(22.5% 0.037 127.091);

  --color-cyan-50: oklch(94.6% 0.015 212.002);
  --color-cyan-100: oklch(88.6% 0.034 210.637);
  --color-cyan-200: oklch(82.7% 0.056 209.082);
  --color-cyan-300: oklch(75.5% 0.075 210.071);
  --color-cyan-400: oklch(69.6% 0.089 210.74);
  --color-cyan-500: oklch(60.5% 0.083 211.198);
  --color-cyan-600: oklch(54.6% 0.074 211.258);
  --color-cyan-700: oklch(47.5% 0.063 210.046);
  --color-cyan-800: oklch(40.3% 0.052 212.252);
  --color-cyan-900: oklch(32.5% 0.041 210.228);
  --color-cyan-950: oklch(21.3% 0.023 210.155);

  --color-indigo-50: oklch(91.8% 0.023 285.939);
  --color-indigo-100: oklch(82.5% 0.05 283.982);
  --color-indigo-200: oklch(71.8% 0.088 283.213);
  --color-indigo-300: oklch(60% 0.128 281.321);
  --color-indigo-400: oklch(50.2% 0.16 278.115);
  --color-indigo-500: oklch(41.9% 0.154 276.569);
  --color-indigo-600: oklch(38.1% 0.137 277.214);
  --color-indigo-700: oklch(33.3% 0.117 277.366);
  --color-indigo-800: oklch(29% 0.095 277.88);
  --color-indigo-900: oklch(23.5% 0.074 277.911);
  --color-indigo-950: oklch(16.3% 0.041 280.792);

  --color-violet-50: oklch(92.2% 0.023 299.348);
  --color-violet-100: oklch(83.2% 0.052 298.848);
  --color-violet-200: oklch(73.2% 0.09 298.201);
  --color-violet-300: oklch(62% 0.129 296.382);
  --color-violet-400: oklch(52.5% 0.16 294.12);
  --color-violet-500: oklch(44.2% 0.153 293.019);
  --color-violet-600: oklch(40.2% 0.135 292.835);
  --color-violet-700: oklch(35% 0.116 293.333);
  --color-violet-800: oklch(30.3% 0.095 293.332);
  --color-violet-900: oklch(24.5% 0.075 293.611);
  --color-violet-950: oklch(17% 0.041 295.542);

  --color-fuchsia-50: oklch(93% 0.028 322.182);
  --color-fuchsia-100: oklch(85% 0.061 321.726);
  --color-fuchsia-200: oklch(76.4% 0.105 322.097);
  --color-fuchsia-300: oklch(67% 0.147 322.299);
  --color-fuchsia-400: oklch(59.4% 0.179 322.196);
  --color-fuchsia-500: oklch(51% 0.17 322.213);
  --color-fuchsia-600: oklch(46.1% 0.15 321.787);
  --color-fuchsia-700: oklch(40.1% 0.129 322.341);
  --color-fuchsia-800: oklch(34.4% 0.106 321.619);
  --color-fuchsia-900: oklch(27.8% 0.084 322.626);
  --color-fuchsia-950: oklch(18.6% 0.046 321.442);

  --color-pink-50: oklch(91.9% 0.025 341.856);
  --color-pink-100: oklch(84.4% 0.053 341.34);
  --color-pink-200: oklch(75.8% 0.09 342.588);
  --color-pink-300: oklch(66.8% 0.124 344.124);
  --color-pink-400: oklch(59.1% 0.156 345.991);
  --color-pink-500: oklch(51.2% 0.147 346.745);
  --color-pink-600: oklch(46.1% 0.13 346.378);
  --color-pink-700: oklch(40% 0.111 347.056);
  --color-pink-800: oklch(34.4% 0.092 345.95);
  --color-pink-900: oklch(27.9% 0.071 345.648);
  --color-pink-950: oklch(18.8% 0.042 343.897);

  --color-slate-50: oklch(96.7% 0.002 247.84);
  --color-slate-100: oklch(92.9% 0.004 236.5);
  --color-slate-200: oklch(87.1% 0.009 247.927);
  --color-slate-300: oklch(78.9% 0.014 251.588);
  --color-slate-400: oklch(68.9% 0.018 250.912);
  --color-slate-500: oklch(58.6% 0.019 250.957);
  --color-slate-600: oklch(49.5% 0.02 251.013);
  --color-slate-700: oklch(40.6% 0.016 251.748);
  --color-slate-800: oklch(32.3% 0.013 252.992);
  --color-slate-900: oklch(22.5% 0.009 255.605);
  --color-slate-950: oklch(16.4% 0.005 264.443);

  --color-gray-50: oklch(96.1% 0.003 264.542);
  --color-gray-100: oklch(91.3% 0.007 277.156);
  --color-gray-200: oklch(83.6% 0.01 273.334);
  --color-gray-300: oklch(74.3% 0.014 276.985);
  --color-gray-400: oklch(64.3% 0.019 278.868);
  --color-gray-500: oklch(54.4% 0.019 278.23);
  --color-gray-600: oklch(47.4% 0.016 281.221);
  --color-gray-700: oklch(40.4% 0.013 280.109);
  --color-gray-800: oklch(32.4% 0.012 285.693);
  --color-gray-900: oklch(23.2% 0.01 276.645);
  --color-gray-950: oklch(16.4% 0.007 270.998);

  --color-zinc-50: oklch(95.9% 0.003 286.349);
  --color-zinc-100: oklch(92.2% 0.003 286.347);
  --color-zinc-200: oklch(88.9% 0.003 286.344);
  --color-zinc-300: oklch(81.8% 0.004 286.307);
  --color-zinc-400: oklch(72.3% 0.004 286.292);
  --color-zinc-500: oklch(59.4% 0.005 286.262);
  --color-zinc-600: oklch(44.7% 0.005 286.202);
  --color-zinc-700: oklch(30.6% 0.005 286.081);
  --color-zinc-800: oklch(26.2% 0.006 286.01);
  --color-zinc-900: oklch(19.7% 0.004 286.029);
  --color-zinc-950: oklch(15.1% 0.004 285.878);

  --color-neutral-50: oklch(96.5% 0.003 48.718);
  --color-neutral-100: oklch(92.6% 0.005 67.76);
  --color-neutral-200: oklch(86.4% 0.01 62.567);
  --color-neutral-300: oklch(78.6% 0.014 71.293);
  --color-neutral-400: oklch(68.8% 0.016 64.243);
  --color-neutral-500: oklch(58.2% 0.018 64.479);
  --color-neutral-600: oklch(49.2% 0.016 60.314);
  --color-neutral-700: oklch(40.3% 0.014 63.056);
  --color-neutral-800: oklch(32.1% 0.01 61.133);
  --color-neutral-900: oklch(22.3% 0.006 78.189);
  --color-neutral-950: oklch(16.2% 0.003 17.51);

  --color-mist-50: oklch(93.4% 0.015 251.161);
  --color-mist-100: oklch(85.9% 0.033 249.655);
  --color-mist-200: oklch(77.8% 0.056 250.221);
  --color-mist-300: oklch(68.6% 0.08 250.196);
  --color-mist-400: oklch(60.5% 0.101 251.481);
  --color-mist-500: oklch(51.8% 0.097 251.476);
  --color-mist-600: oklch(46.9% 0.086 251.607);
  --color-mist-700: oklch(40.8% 0.073 251.26);
  --color-mist-800: oklch(35% 0.06 252.284);
  --color-mist-900: oklch(28.3% 0.047 250.878);
  --color-mist-950: oklch(19.1% 0.025 249.264);

  --color-mauve-50: oklch(92.7% 0.026 316.136);
  --color-mauve-100: oklch(84.5% 0.058 316.897);
  --color-mauve-200: oklch(75.5% 0.1 316.576);
  --color-mauve-300: oklch(65.7% 0.14 316.58);
  --color-mauve-400: oklch(57.6% 0.172 316.315);
  --color-mauve-500: oklch(49.2% 0.164 316.155);
  --color-mauve-600: oklch(44.6% 0.145 315.836);
  --color-mauve-700: oklch(38.7% 0.124 315.833);
  --color-mauve-800: oklch(33.4% 0.102 315.874);
  --color-mauve-900: oklch(26.9% 0.081 316.119);
  --color-mauve-950: oklch(18.3% 0.045 317.216);

  --color-taupe-50: oklch(94.9% 0.013 71.328);
  --color-taupe-100: oklch(89.2% 0.028 72.787);
  --color-taupe-200: oklch(82.5% 0.044 72.814);
  --color-taupe-300: oklch(75.2% 0.058 71.992);
  --color-taupe-400: oklch(68.2% 0.071 71.278);
  --color-taupe-500: oklch(58.8% 0.068 71.412);
  --color-taupe-600: oklch(52% 0.06 70.485);
  --color-taupe-700: oklch(44.5% 0.051 70.388);
  --color-taupe-800: oklch(36.9% 0.041 71.907);
  --color-taupe-900: oklch(28.2% 0.032 73.881);
  --color-taupe-950: oklch(19.2% 0.018 74.373);
}
