@theme {
  --color-white: oklch(97.4% 0.014 88.683);
  --color-black: oklch(11.4% 0.004 106.953);

  --color-taupe-50: oklch(94.8% 0.011 95.166);
  --color-taupe-100: oklch(90.4% 0.007 88.646);
  --color-taupe-200: oklch(87.3% 0.007 88.648);
  --color-taupe-300: oklch(82.8% 0.01 100.014);
  --color-taupe-400: oklch(74.7% 0.012 95.21);
  --color-taupe-500: oklch(62.3% 0.014 91.588);
  --color-taupe-600: oklch(51.2% 0.012 101.018);
  --color-taupe-700: oklch(38.4% 0.012 106.932);
  --color-taupe-800: oklch(33.4% 0.012 107.029);
  --color-taupe-900: oklch(28.9% 0.011 122.112);
  --color-taupe-950: oklch(24.9% 0.015 136.72);

  --color-green-50: oklch(92.3% 0.022 149.698);
  --color-green-100: oklch(86% 0.041 147.449);
  --color-green-200: oklch(77.1% 0.069 146.787);
  --color-green-300: oklch(67.5% 0.098 146.058);
  --color-green-400: oklch(58.2% 0.125 145.351);
  --color-green-500: oklch(53.9% 0.137 144.589);
  --color-green-600: oklch(50% 0.126 144.773);
  --color-green-700: oklch(42.6% 0.104 144.672);
  --color-green-800: oklch(34.9% 0.082 144.833);
  --color-green-900: oklch(27.4% 0.06 145.666);
  --color-green-950: oklch(21% 0.039 146.445);

  --color-brown-50: oklch(92.2% 0.019 90.549);
  --color-brown-100: oklch(92.2% 0.019 90.549);
  --color-brown-200: oklch(78.2% 0.059 89.642);
  --color-brown-300: oklch(69% 0.082 88.893);
  --color-brown-400: oklch(59.9% 0.1 87.859);
  --color-brown-500: oklch(55.5% 0.104 86.206);
  --color-brown-600: oklch(51.8% 0.055 60.056);
  --color-brown-700: oklch(43.9% 0.046 57.353);
  --color-brown-800: oklch(36.2% 0.035 57.717);
  --color-brown-900: oklch(28.1% 0.026 58.995);
  --color-brown-950: oklch(21.5% 0.017 66.695);

  --color-red-50: oklch(89.8% 0.029 17.704);
  --color-red-100: oklch(86.1% 0.041 16.082);
  --color-red-200: oklch(77.1% 0.07 17.683);
  --color-red-300: oklch(68.1% 0.102 19.291);
  --color-red-400: oklch(59.6% 0.136 20.953);
  --color-red-500: oklch(55.7% 0.151 22.417);
  --color-red-600: oklch(51.8% 0.14 21.71);
  --color-red-700: oklch(43.9% 0.114 22.344);
  --color-red-800: oklch(35.8% 0.091 21.035);
  --color-red-900: oklch(27.9% 0.067 20.999);
  --color-red-950: oklch(20.3% 0.042 19.05);

  --color-olive-50: oklch(92.7% 0.026 121.195);
  --color-olive-100: oklch(86.5% 0.047 121.97);
  --color-olive-200: oklch(77.4% 0.078 121.95);
  --color-olive-300: oklch(68.2% 0.109 123.182);
  --color-olive-400: oklch(59% 0.131 125.241);
  --color-olive-500: oklch(54.4% 0.135 126.643);
  --color-olive-600: oklch(50.6% 0.125 126.667);
  --color-olive-700: oklch(43.2% 0.106 126.548);
  --color-olive-800: oklch(35.1% 0.083 125.895);
  --color-olive-900: oklch(27.6% 0.063 125.984);
  --color-olive-950: oklch(23.3% 0.054 126.504);

  --color-orange-50: oklch(91.4% 0.023 65.445);
  --color-orange-100: oklch(86.8% 0.038 64.709);
  --color-orange-200: oklch(77.9% 0.064 63.494);
  --color-orange-300: oklch(69.1% 0.091 62.593);
  --color-orange-400: oklch(60.4% 0.115 59.888);
  --color-orange-500: oklch(56.3% 0.125 56.652);
  --color-orange-600: oklch(52.3% 0.115 57.296);
  --color-orange-700: oklch(44.6% 0.095 58.375);
  --color-orange-800: oklch(36.1% 0.075 58.178);
  --color-orange-900: oklch(28.6% 0.055 60.08);
  --color-orange-950: oklch(21.4% 0.037 62.808);

  --color-sky-50: oklch(90.9% 0.014 231.221);
  --color-sky-100: oklch(86.7% 0.022 218.639);
  --color-sky-200: oklch(77.9% 0.037 221.323);
  --color-sky-300: oklch(68.6% 0.052 220.986);
  --color-sky-400: oklch(59.3% 0.066 223.048);
  --color-sky-500: oklch(54.7% 0.072 223.773);
  --color-sky-600: oklch(50.9% 0.067 223.875);
  --color-sky-700: oklch(43.5% 0.055 222.143);
  --color-sky-800: oklch(35.5% 0.043 221.888);
  --color-sky-900: oklch(27.8% 0.032 219.678);
  --color-sky-950: oklch(20.8% 0.022 222.802);

  --color-blue-50: oklch(90.3% 0.015 251.166);
  --color-blue-100: oklch(85.4% 0.022 245.89);
  --color-blue-200: oklch(75.8% 0.038 248.33);
  --color-blue-300: oklch(65.2% 0.056 249.559);
  --color-blue-400: oklch(55% 0.074 249.293);
  --color-blue-500: oklch(49.9% 0.082 249.791);
  --color-blue-600: oklch(46.4% 0.076 249.765);
  --color-blue-700: oklch(39.6% 0.063 249.664);
  --color-blue-800: oklch(32.5% 0.048 249.513);
  --color-blue-900: oklch(25.4% 0.035 249.356);
  --color-blue-950: oklch(19.5% 0.023 246.497);

  --color-purple-50: oklch(89.4% 0.025 309.351);
  --color-purple-100: oklch(83.9% 0.037 310.429);
  --color-purple-200: oklch(73.3% 0.065 309.517);
  --color-purple-300: oklch(61.9% 0.094 308.659);
  --color-purple-400: oklch(50.7% 0.124 308.089);
  --color-purple-500: oklch(45.2% 0.137 307.026);
  --color-purple-600: oklch(42.1% 0.127 307.327);
  --color-purple-700: oklch(36.1% 0.104 307.353);
  --color-purple-800: oklch(29.7% 0.081 307.371);
  --color-purple-900: oklch(23.5% 0.059 308.667);
  --color-purple-950: oklch(17.9% 0.04 307.065);

  --color-amber-50: oklch(92.2% 0.025 81.123);
  --color-amber-100: oklch(88.2% 0.041 81.695);
  --color-amber-200: oklch(80.3% 0.068 81.62);
  --color-amber-300: oklch(72.2% 0.093 80.152);
  --color-amber-400: oklch(64.2% 0.113 77.288);
  --color-amber-500: oklch(60.6% 0.119 74.944);
  --color-amber-600: oklch(56.1% 0.11 74.935);
  --color-amber-700: oklch(47.8% 0.091 76.328);
  --color-amber-800: oklch(38.6% 0.073 76.149);
  --color-amber-900: oklch(30.5% 0.054 77.513);
  --color-amber-950: oklch(22.6% 0.037 80.529);

  --color-yellow-50: oklch(92.8% 0.028 90.912);
  --color-yellow-100: oklch(89.2% 0.045 91.755);
  --color-yellow-200: oklch(81.9% 0.074 91.804);
  --color-yellow-300: oklch(74.7% 0.1 91.644);
  --color-yellow-400: oklch(67.3% 0.119 89.536);
  --color-yellow-500: oklch(64% 0.123 88.329);
  --color-yellow-600: oklch(59.4% 0.114 88.82);
  --color-yellow-700: oklch(50.4% 0.095 89.334);
  --color-yellow-800: oklch(40.7% 0.076 89.133);
  --color-yellow-900: oklch(31.9% 0.057 89.784);
  --color-yellow-950: oklch(23.4% 0.039 90.199);

  --color-emerald-50: oklch(92.5% 0.016 172.623);
  --color-emerald-100: oklch(86.4% 0.029 171.949);
  --color-emerald-200: oklch(77.7% 0.049 170.661);
  --color-emerald-300: oklch(68.3% 0.068 169.145);
  --color-emerald-400: oklch(59.1% 0.086 167.19);
  --color-emerald-500: oklch(54.8% 0.093 165.629);
  --color-emerald-600: oklch(50.8% 0.085 165.766);
  --color-emerald-700: oklch(43.4% 0.07 166.314);
  --color-emerald-800: oklch(35.5% 0.056 166.077);
  --color-emerald-900: oklch(27.8% 0.042 166.818);
  --color-emerald-950: oklch(21.3% 0.028 166.55);

  --color-teal-50: oklch(92.6% 0.015 186.676);
  --color-teal-100: oklch(86.6% 0.027 187.92);
  --color-teal-200: oklch(78% 0.044 187.126);
  --color-teal-300: oklch(68.7% 0.061 186.167);
  --color-teal-400: oklch(59.7% 0.075 184.94);
  --color-teal-500: oklch(55.4% 0.08 184.045);
  --color-teal-600: oklch(51.4% 0.074 184.117);
  --color-teal-700: oklch(43.8% 0.061 184.411);
  --color-teal-800: oklch(35.9% 0.048 185.006);
  --color-teal-900: oklch(28.1% 0.036 186.611);
  --color-teal-950: oklch(21.5% 0.024 186.269);

  --color-lime-50: oklch(93.4% 0.021 124.668);
  --color-lime-100: oklch(88.2% 0.039 124.703);
  --color-lime-200: oklch(81.2% 0.071 124.847);
  --color-lime-300: oklch(72.9% 0.101 126.318);
  --color-lime-400: oklch(64.6% 0.126 127.768);
  --color-lime-500: oklch(59.7% 0.133 128.583);
  --color-lime-600: oklch(54.1% 0.121 128.877);
  --color-lime-700: oklch(46% 0.098 128.638);
  --color-lime-800: oklch(37% 0.074 128.363);
  --color-lime-900: oklch(28.5% 0.054 128.327);
  --color-lime-950: oklch(21.4% 0.034 126.54);

  --color-cyan-50: oklch(91.7% 0.016 206.433);
  --color-cyan-100: oklch(87.1% 0.023 210.399);
  --color-cyan-200: oklch(79% 0.039 208.77);
  --color-cyan-300: oklch(69.9% 0.055 209.921);
  --color-cyan-400: oklch(61.4% 0.068 209.612);
  --color-cyan-500: oklch(57% 0.073 211.222);
  --color-cyan-600: oklch(53.2% 0.068 210.063);
  --color-cyan-700: oklch(45.1% 0.056 210.553);
  --color-cyan-800: oklch(36.6% 0.044 211.411);
  --color-cyan-900: oklch(28.6% 0.033 208.44);
  --color-cyan-950: oklch(21.4% 0.022 210.901);

  --color-indigo-50: oklch(88.7% 0.023 285.918);
  --color-indigo-100: oklch(82.8% 0.035 285.616);
  --color-indigo-200: oklch(71.6% 0.059 283.695);
  --color-indigo-300: oklch(59.2% 0.088 282.605);
  --color-indigo-400: oklch(46.9% 0.119 280.189);
  --color-indigo-500: oklch(40.8% 0.134 278.146);
  --color-indigo-600: oklch(38.1% 0.123 278.216);
  --color-indigo-700: oklch(32.8% 0.101 278.514);
  --color-indigo-800: oklch(27.3% 0.078 278.922);
  --color-indigo-900: oklch(21.7% 0.056 279.175);
  --color-indigo-950: oklch(16.6% 0.039 281.281);

  --color-violet-50: oklch(89.1% 0.024 299.33);
  --color-violet-100: oklch(83.4% 0.035 298.425);
  --color-violet-200: oklch(72.5% 0.062 299.024);
  --color-violet-300: oklch(60.5% 0.09 297.679);
  --color-violet-400: oklch(48.7% 0.12 295.584);
  --color-violet-500: oklch(42.9% 0.133 293.743);
  --color-violet-600: oklch(40% 0.123 294.096);
  --color-violet-700: oklch(34.3% 0.101 294.269);
  --color-violet-800: oklch(28.4% 0.078 294.507);
  --color-violet-900: oklch(22.4% 0.057 295.247);
  --color-violet-950: oklch(17.3% 0.039 296.693);

  --color-fuchsia-50: oklch(89.9% 0.028 322.186);
  --color-fuchsia-100: oklch(84.6% 0.042 322.168);
  --color-fuchsia-200: oklch(74.5% 0.071 321.513);
  --color-fuchsia-300: oklch(63.8% 0.103 321.908);
  --color-fuchsia-400: oklch(53.5% 0.135 322.195);
  --color-fuchsia-500: oklch(48.6% 0.149 322.243);
  --color-fuchsia-600: oklch(45.2% 0.137 322.217);
  --color-fuchsia-700: oklch(38.6% 0.113 322.143);
  --color-fuchsia-800: oklch(31.7% 0.088 322.013);
  --color-fuchsia-900: oklch(24.8% 0.064 322.129);
  --color-fuchsia-950: oklch(18.8% 0.044 321.117);

  --color-pink-50: oklch(89.8% 0.021 347.328);
  --color-pink-100: oklch(84.5% 0.033 345.084);
  --color-pink-200: oklch(74.4% 0.057 347.042);
  --color-pink-300: oklch(63.6% 0.083 348.794);
  --color-pink-400: oklch(53.2% 0.111 350.233);
  --color-pink-500: oklch(48.2% 0.123 351.54);
  --color-pink-600: oklch(44.9% 0.114 351.474);
  --color-pink-700: oklch(38.3% 0.094 351.224);
  --color-pink-800: oklch(31.4% 0.073 350.835);
  --color-pink-900: oklch(24.6% 0.053 350.41);
  --color-pink-950: oklch(18.8% 0.037 348.373);

  --color-rose-50: oklch(89.7% 0.02 357.658);
  --color-rose-100: oklch(84.3% 0.03 358.914);
  --color-rose-200: oklch(74.2% 0.053 358.026);
  --color-rose-300: oklch(63.2% 0.077 359.702);
  --color-rose-400: oklch(52.7% 0.104 2.038);
  --color-rose-500: oklch(47.6% 0.116 3.937);
  --color-rose-600: oklch(44.3% 0.107 3.538);
  --color-rose-700: oklch(37.9% 0.088 3.397);
  --color-rose-800: oklch(31.1% 0.068 3.211);
  --color-rose-900: oklch(24.4% 0.05 2.413);
  --color-rose-950: oklch(18.6% 0.034 0.743);

  --color-slate-50: oklch(93.9% 0.009 258.336);
  --color-slate-100: oklch(91.2% 0.008 260.732);
  --color-slate-200: oklch(87.8% 0.009 258.338);
  --color-slate-300: oklch(83.3% 0.012 252.105);
  --color-slate-400: oklch(73.6% 0.016 257.213);
  --color-slate-500: oklch(60.7% 0.021 258.368);
  --color-slate-600: oklch(48.6% 0.016 251.693);
  --color-slate-700: oklch(37% 0.015 259.812);
  --color-slate-800: oklch(31.1% 0.014 256.783);
  --color-slate-900: oklch(26.3% 0.015 256.799);
  --color-slate-950: oklch(21.3% 0.015 266.889);

  --color-gray-50: oklch(94.3% 0.01 267.357);
  --color-gray-100: oklch(90.9% 0.008 260.732);
  --color-gray-200: oklch(87.6% 0.009 264.518);
  --color-gray-300: oklch(82.9% 0.011 261.786);
  --color-gray-400: oklch(74% 0.013 259.824);
  --color-gray-500: oklch(61.5% 0.015 258.36);
  --color-gray-600: oklch(49% 0.011 252.898);
  --color-gray-700: oklch(35.5% 0.008 255.545);
  --color-gray-800: oklch(30.4% 0.008 255.563);
  --color-gray-900: oklch(26% 0.008 264.426);
  --color-gray-950: oklch(21.7% 0.008 264.385);

  --color-neutral-50: oklch(95.2% 0.008 17.289);
  --color-neutral-100: oklch(92.2% 0.004 17.236);
  --color-neutral-200: oklch(88.5% 0.004 17.24);
  --color-neutral-300: oklch(83.5% 0.007 17.291);
  --color-neutral-400: oklch(72.7% 0.007 17.316);
  --color-neutral-500: oklch(59% 0.01 17.435);
  --color-neutral-600: oklch(47.2% 0.006 17.385);
  --color-neutral-700: oklch(36.8% 0.006 17.407);
  --color-neutral-800: oklch(29.7% 0.006 17.485);
  --color-neutral-900: oklch(24.8% 0.006 17.572);
  --color-neutral-950: oklch(20.1% 0.006 17.705);

  --color-zinc-50: oklch(92.5% 0.015 286.107);
  --color-zinc-100: oklch(89.1% 0.011 286.177);
  --color-zinc-200: oklch(86% 0.011 286.167);
  --color-zinc-300: oklch(81.4% 0.013 286.119);
  --color-zinc-400: oklch(73.2% 0.016 286.005);
  --color-zinc-500: oklch(60.8% 0.019 285.805);
  --color-zinc-600: oklch(48.9% 0.014 285.861);
  --color-zinc-700: oklch(36.3% 0.012 285.789);
  --color-zinc-800: oklch(31.2% 0.012 285.658);
  --color-zinc-900: oklch(27.1% 0.011 285.641);
  --color-zinc-950: oklch(23% 0.013 285.293);

  --color-stone-50: oklch(94% 0.009 62.582);
  --color-stone-100: oklch(90.1% 0.007 53.438);
  --color-stone-200: oklch(87% 0.007 53.434);
  --color-stone-300: oklch(82.6% 0.008 61.43);
  --color-stone-400: oklch(74.8% 0.01 62.538);
  --color-stone-500: oklch(62.6% 0.012 54.387);
  --color-stone-600: oklch(50.3% 0.009 61.319);
  --color-stone-700: oklch(37.4% 0.007 59.46);
  --color-stone-800: oklch(32.4% 0.008 59.405);
  --color-stone-900: oklch(28.3% 0.007 67.54);
  --color-stone-950: oklch(24.3% 0.008 59.258);

  --color-mauve-50: oklch(90% 0.021 318.396);
  --color-mauve-100: oklch(85.6% 0.03 317.236);
  --color-mauve-200: oklch(76.1% 0.05 317.357);
  --color-mauve-300: oklch(65.8% 0.073 316.692);
  --color-mauve-400: oklch(55.7% 0.096 316.704);
  --color-mauve-500: oklch(50.6% 0.108 316.292);
  --color-mauve-600: oklch(47.1% 0.099 316.571);
  --color-mauve-700: oklch(40.2% 0.083 316.638);
  --color-mauve-800: oklch(33.3% 0.064 316.433);
  --color-mauve-900: oklch(25.9% 0.048 316.956);
  --color-mauve-950: oklch(19.8% 0.031 316.023);

  --color-mist-50: oklch(90.4% 0.012 252.095);
  --color-mist-100: oklch(86.3% 0.017 250.861);
  --color-mist-200: oklch(77.3% 0.028 249.918);
  --color-mist-300: oklch(67.5% 0.042 250.81);
  --color-mist-400: oklch(57.6% 0.055 250.594);
  --color-mist-500: oklch(52.8% 0.062 250.635);
  --color-mist-600: oklch(49% 0.057 250.792);
  --color-mist-700: oklch(41.9% 0.047 250.104);
  --color-mist-800: oklch(34.6% 0.037 250.427);
  --color-mist-900: oklch(26.8% 0.027 251.037);
  --color-mist-950: oklch(20.5% 0.018 248.694);

  --color-maroon-50: oklch(89.9% 0.014 17.423);
  --color-maroon-100: oklch(84.6% 0.023 17.606);
  --color-maroon-200: oklch(75.9% 0.036 17.982);
  --color-maroon-300: oklch(65.6% 0.054 18.64);
  --color-maroon-400: oklch(55.4% 0.073 19.663);
  --color-maroon-500: oklch(50.4% 0.083 20.422);
  --color-maroon-600: oklch(46.8% 0.077 20.381);
  --color-maroon-700: oklch(40% 0.064 20.297);
  --color-maroon-800: oklch(33.1% 0.049 20.03);
  --color-maroon-900: oklch(25.7% 0.037 19.875);
  --color-maroon-950: oklch(19.7% 0.024 19.397);
}
