@theme {
  --color-white: oklch(93% 0.034 88.062);
  --color-black: oklch(14.1% 0.003 69.386);

  --color-taupe-50: oklch(94.7% 0.02 87.515);
  --color-taupe-100: oklch(88.6% 0.024 88.244);
  --color-taupe-200: oklch(85.1% 0.018 92.708);
  --color-taupe-300: oklch(81.1% 0.019 89.381);
  --color-taupe-400: oklch(74.1% 0.016 90.273);
  --color-taupe-500: oklch(60.4% 0.011 87.505);
  --color-taupe-600: oklch(52.8% 0.01 91.559);
  --color-taupe-700: oklch(41.9% 0.01 99.086);
  --color-taupe-800: oklch(35.6% 0.005 91.534);
  --color-taupe-900: oklch(29.2% 0.009 97.647);
  --color-taupe-950: oklch(24.1% 0.005 67.595);

  --color-blue-50: oklch(90.4% 0.012 252.095);
  --color-blue-100: oklch(86% 0.016 248.013);
  --color-blue-200: oklch(76.5% 0.03 254.716);
  --color-blue-300: oklch(66.5% 0.043 251.913);
  --color-blue-400: oklch(56.7% 0.056 252.37);
  --color-blue-500: oklch(51.6% 0.064 252.928);
  --color-blue-600: oklch(48.2% 0.059 254.191);
  --color-blue-700: oklch(41.4% 0.05 253.251);
  --color-blue-800: oklch(34.8% 0.038 256.169);
  --color-blue-900: oklch(28.8% 0.027 250.962);
  --color-blue-950: oklch(24.4% 0.018 251.983);

  --color-pink-50: oklch(89.1% 0.039 348.886);
  --color-pink-100: oklch(84.6% 0.058 346.842);
  --color-pink-200: oklch(75.1% 0.1 348.39);
  --color-pink-300: oklch(65.7% 0.143 351.032);
  --color-pink-400: oklch(57.5% 0.18 354.008);
  --color-pink-500: oklch(54.4% 0.193 356.68);
  --color-pink-600: oklch(50.7% 0.178 356.295);
  --color-pink-700: oklch(43.2% 0.146 355.273);
  --color-pink-800: oklch(36.1% 0.117 355.29);
  --color-pink-900: oklch(29.4% 0.087 352.912);
  --color-pink-950: oklch(24.8% 0.064 352.408);

  --color-red-50: oklch(88.6% 0.034 13.227);
  --color-red-100: oklch(84.8% 0.047 11.512);
  --color-red-200: oklch(75% 0.085 12.713);
  --color-red-300: oklch(65.6% 0.123 14.616);
  --color-red-400: oklch(57.1% 0.161 17.805);
  --color-red-500: oklch(53.6% 0.176 20.233);
  --color-red-600: oklch(50% 0.162 19.805);
  --color-red-700: oklch(42.4% 0.133 19.459);
  --color-red-800: oklch(35.4% 0.107 18.481);
  --color-red-900: oklch(29% 0.076 17.257);
  --color-red-950: oklch(23.7% 0.055 16.863);

  --color-green-50: oklch(90.6% 0.009 179.581);
  --color-green-100: oklch(85.8% 0.016 177.01);
  --color-green-200: oklch(76% 0.026 181.029);
  --color-green-300: oklch(66% 0.037 177.65);
  --color-green-400: oklch(56% 0.048 177.498);
  --color-green-500: oklch(50.9% 0.054 177.033);
  --color-green-600: oklch(47.7% 0.049 176.828);
  --color-green-700: oklch(41% 0.041 177.043);
  --color-green-800: oklch(34.2% 0.032 176.826);
  --color-green-900: oklch(28.1% 0.023 177.309);
  --color-green-950: oklch(24.5% 0.017 176.268);

  --color-orange-50: oklch(89.5% 0.027 41.102);
  --color-orange-100: oklch(85.1% 0.04 41.655);
  --color-orange-200: oklch(75.4% 0.071 42.203);
  --color-orange-300: oklch(66% 0.104 41.545);
  --color-orange-400: oklch(57% 0.138 40.277);
  --color-orange-500: oklch(53% 0.151 39.152);
  --color-orange-600: oklch(49.5% 0.14 38.915);
  --color-orange-700: oklch(42.3% 0.116 39.456);
  --color-orange-800: oklch(35.4% 0.09 41.075);
  --color-orange-900: oklch(28.8% 0.065 40.986);
  --color-orange-950: oklch(24.7% 0.048 40.153);

  --color-sky-50: oklch(90.6% 0.02 240.749);
  --color-sky-100: oklch(85.3% 0.03 240.239);
  --color-sky-200: oklch(75.8% 0.052 242.122);
  --color-sky-300: oklch(65.8% 0.074 244.047);
  --color-sky-400: oklch(56.2% 0.094 243.237);
  --color-sky-500: oklch(51.4% 0.104 245.642);
  --color-sky-600: oklch(48.3% 0.095 244.775);
  --color-sky-700: oklch(41.1% 0.081 246.493);
  --color-sky-800: oklch(34.1% 0.063 245.993);
  --color-sky-900: oklch(28% 0.046 244.458);
  --color-sky-950: oklch(24.4% 0.034 242.823);

  --color-amber-50: oklch(90.7% 0.026 63.719);
  --color-amber-100: oklch(86.8% 0.038 64.709);
  --color-amber-200: oklch(78.3% 0.067 64.323);
  --color-amber-300: oklch(70.1% 0.094 63.679);
  --color-amber-400: oklch(61.9% 0.119 60.595);
  --color-amber-500: oklch(58% 0.128 57.98);
  --color-amber-600: oklch(54.2% 0.118 57.859);
  --color-amber-700: oklch(46.2% 0.098 58.881);
  --color-amber-800: oklch(38.4% 0.078 59.944);
  --color-amber-900: oklch(31.1% 0.057 60.864);
  --color-amber-950: oklch(26.5% 0.043 61.266);

  --color-yellow-50: oklch(92% 0.03 87.548);
  --color-yellow-100: oklch(88.8% 0.044 87.966);
  --color-yellow-200: oklch(81.7% 0.074 88.034);
  --color-yellow-300: oklch(74.5% 0.1 86.295);
  --color-yellow-400: oklch(67.5% 0.12 84.517);
  --color-yellow-500: oklch(64.1% 0.124 82.665);
  --color-yellow-600: oklch(60% 0.115 83.403);
  --color-yellow-700: oklch(50.9% 0.096 83.481);
  --color-yellow-800: oklch(42% 0.077 84.029);
  --color-yellow-900: oklch(33.8% 0.058 85.55);
  --color-yellow-950: oklch(28.7% 0.044 87.102);

  --color-brown-50: oklch(91.4% 0.027 78.184);
  --color-brown-100: oklch(87.8% 0.04 77.138);
  --color-brown-200: oklch(80.1% 0.069 77.592);
  --color-brown-300: oklch(72.4% 0.095 76.473);
  --color-brown-400: oklch(64.9% 0.117 73.943);
  --color-brown-500: oklch(61.1% 0.123 70.962);
  --color-brown-600: oklch(57.2% 0.113 71.383);
  --color-brown-700: oklch(48.6% 0.095 71.677);
  --color-brown-800: oklch(40.3% 0.076 72.754);
  --color-brown-900: oklch(32.4% 0.056 73.43);
  --color-brown-950: oklch(27.7% 0.043 76.064);

  --color-maroon-50: oklch(88.2% 0.017 17.473);
  --color-maroon-100: oklch(83.1% 0.023 17.617);
  --color-maroon-200: oklch(75.4% 0.038 18.019);
  --color-maroon-300: oklch(63.5% 0.057 18.789);
  --color-maroon-400: oklch(53.8% 0.071 19.663);
  --color-maroon-500: oklch(49.5% 0.085 20.578);
  --color-maroon-600: oklch(46.5% 0.077 20.418);
  --color-maroon-700: oklch(39.8% 0.066 20.41);
  --color-maroon-800: oklch(33.9% 0.049 19.934);
  --color-maroon-900: oklch(27.7% 0.036 19.586);
  --color-maroon-950: oklch(23.7% 0.024 19.011);

  --color-rose-50: oklch(88.3% 0.037 351.775);
  --color-rose-100: oklch(83.3% 0.056 351.9);
  --color-rose-200: oklch(72.5% 0.098 354.227);
  --color-rose-300: oklch(62.4% 0.141 356.766);
  --color-rose-400: oklch(53.6% 0.177 1.193);
  --color-rose-500: oklch(50.1% 0.185 4.081);
  --color-rose-600: oklch(46.9% 0.171 3.618);
  --color-rose-700: oklch(39.9% 0.143 2.913);
  --color-rose-800: oklch(33.1% 0.115 2.044);
  --color-rose-900: oklch(27% 0.085 359.669);
  --color-rose-950: oklch(23.3% 0.064 358.751);

  --color-lime-50: oklch(93.5% 0.044 116.986);
  --color-lime-100: oklch(90.2% 0.067 116.941);
  --color-lime-200: oklch(86.1% 0.084 116.961);
  --color-lime-300: oklch(78.8% 0.114 118.16);
  --color-lime-400: oklch(71.3% 0.13 120.106);
  --color-lime-500: oklch(63.3% 0.13 122.072);
  --color-lime-600: oklch(56.2% 0.12 123.593);
  --color-lime-700: oklch(47.6% 0.099 122.968);
  --color-lime-800: oklch(37.1% 0.075 122.39);
  --color-lime-900: oklch(29.3% 0.056 120.82);
  --color-lime-950: oklch(23.2% 0.04 119.789);

  --color-emerald-50: oklch(91.9% 0.033 172.791);
  --color-emerald-100: oklch(87.3% 0.048 167.554);
  --color-emerald-200: oklch(83.6% 0.054 167.382);
  --color-emerald-300: oklch(74% 0.074 165.908);
  --color-emerald-400: oklch(62.7% 0.075 167.526);
  --color-emerald-500: oklch(52.7% 0.069 167.682);
  --color-emerald-600: oklch(47% 0.062 166.562);
  --color-emerald-700: oklch(40.1% 0.052 166.915);
  --color-emerald-800: oklch(32.7% 0.039 168.95);
  --color-emerald-900: oklch(26.9% 0.03 166.818);
  --color-emerald-950: oklch(23.2% 0.025 163.536);

  --color-olive-50: oklch(93% 0.035 114.175);
  --color-olive-100: oklch(89% 0.051 113.523);
  --color-olive-200: oklch(84% 0.069 113.251);
  --color-olive-300: oklch(75.4% 0.095 113.218);
  --color-olive-400: oklch(66.2% 0.104 114.029);
  --color-olive-500: oklch(57.3% 0.099 114.666);
  --color-olive-600: oklch(50.1% 0.087 114.875);
  --color-olive-700: oklch(42.6% 0.072 114.231);
  --color-olive-800: oklch(33.7% 0.054 113.342);
  --color-olive-900: oklch(25.5% 0.039 115.339);
  --color-olive-950: oklch(19.5% 0.026 112.076);

  --color-teal-50: oklch(92% 0.028 188.278);
  --color-teal-100: oklch(87.3% 0.039 184.25);
  --color-teal-200: oklch(84% 0.043 185.244);
  --color-teal-300: oklch(74.1% 0.06 182.259);
  --color-teal-400: oklch(64% 0.069 180.638);
  --color-teal-500: oklch(54.7% 0.063 181.415);
  --color-teal-600: oklch(47.7% 0.054 181.931);
  --color-teal-700: oklch(41.1% 0.046 181.028);
  --color-teal-800: oklch(33.2% 0.035 181.339);
  --color-teal-900: oklch(25.9% 0.026 183.166);
  --color-teal-950: oklch(20.9% 0.019 183.787);

  --color-cyan-50: oklch(92% 0.022 207.584);
  --color-cyan-100: oklch(86.7% 0.03 212.598);
  --color-cyan-200: oklch(80.9% 0.04 212.691);
  --color-cyan-300: oklch(73.8% 0.052 215.595);
  --color-cyan-400: oklch(63.8% 0.063 219.504);
  --color-cyan-500: oklch(54.2% 0.061 224.928);
  --color-cyan-600: oklch(47.4% 0.055 229.393);
  --color-cyan-700: oklch(40.6% 0.046 231.194);
  --color-cyan-800: oklch(32.7% 0.033 228.361);
  --color-cyan-900: oklch(28.6% 0.029 230.758);
  --color-cyan-950: oklch(26.6% 0.026 230.674);

  --color-indigo-50: oklch(88.1% 0.033 280.034);
  --color-indigo-100: oklch(84% 0.038 275.624);
  --color-indigo-200: oklch(75% 0.056 274.55);
  --color-indigo-300: oklch(64.7% 0.075 274.365);
  --color-indigo-400: oklch(61.1% 0.079 274.484);
  --color-indigo-500: oklch(53.6% 0.078 273.801);
  --color-indigo-600: oklch(47.3% 0.068 273.072);
  --color-indigo-700: oklch(40.5% 0.057 273.195);
  --color-indigo-800: oklch(32.4% 0.043 274.689);
  --color-indigo-900: oklch(28.9% 0.034 272.164);
  --color-indigo-950: oklch(24% 0.027 277.86);

  --color-violet-50: oklch(88.3% 0.038 302.432);
  --color-violet-100: oklch(84.2% 0.05 307.802);
  --color-violet-200: oklch(75.1% 0.071 306.949);
  --color-violet-300: oklch(64.9% 0.093 306.087);
  --color-violet-400: oklch(61.3% 0.096 304.437);
  --color-violet-500: oklch(53.4% 0.095 301.68);
  --color-violet-600: oklch(47% 0.083 301.315);
  --color-violet-700: oklch(40.3% 0.07 301.297);
  --color-violet-800: oklch(32.3% 0.052 300.969);
  --color-violet-900: oklch(28.4% 0.043 299.681);
  --color-violet-950: oklch(24.2% 0.031 304.173);

  --color-purple-50: oklch(88.9% 0.041 313.181);
  --color-purple-100: oklch(84.8% 0.053 316.02);
  --color-purple-200: oklch(76.6% 0.079 320.55);
  --color-purple-300: oklch(66.7% 0.101 318.808);
  --color-purple-400: oklch(63.1% 0.104 317.131);
  --color-purple-500: oklch(55.2% 0.101 314.601);
  --color-purple-600: oklch(48.6% 0.089 314.73);
  --color-purple-700: oklch(41.5% 0.074 313.562);
  --color-purple-800: oklch(33.2% 0.055 313.488);
  --color-purple-900: oklch(29.3% 0.045 313.431);
  --color-purple-950: oklch(24.7% 0.034 315.013);

  --color-fuchsia-50: oklch(89.5% 0.04 334.984);
  --color-fuchsia-100: oklch(85.3% 0.05 336.676);
  --color-fuchsia-200: oklch(77% 0.073 334.729);
  --color-fuchsia-300: oklch(67.5% 0.096 335.385);
  --color-fuchsia-400: oklch(64.2% 0.099 336.646);
  --color-fuchsia-500: oklch(56.5% 0.095 339.604);
  --color-fuchsia-600: oklch(49.8% 0.084 339.458);
  --color-fuchsia-700: oklch(42.6% 0.069 340.695);
  --color-fuchsia-800: oklch(34% 0.052 340.67);
  --color-fuchsia-900: oklch(29.9% 0.042 340.62);
  --color-fuchsia-950: oklch(25.1% 0.031 338.648);

  --color-slate-50: oklch(92.8% 0.01 247.938);
  --color-slate-100: oklch(86.2% 0.021 250.408);
  --color-slate-200: oklch(83.1% 0.021 250.417);
  --color-slate-300: oklch(79.1% 0.022 252.534);
  --color-slate-400: oklch(69% 0.028 251.756);
  --color-slate-500: oklch(57.7% 0.036 254.121);
  --color-slate-600: oklch(49.2% 0.033 256.558);
  --color-slate-700: oklch(42.1% 0.028 258.366);
  --color-slate-800: oklch(33.9% 0.022 259.387);
  --color-slate-900: oklch(23.4% 0.013 258.371);
  --color-slate-950: oklch(16.8% 0.007 258.372);

  --color-gray-50: oklch(93% 0.002 17.197);
  --color-gray-100: oklch(86.7% 0.004 17.242);
  --color-gray-200: oklch(83.4% 0.006 17.269);
  --color-gray-300: oklch(78.4% 0.007 17.302);
  --color-gray-400: oklch(69.3% 0.009 17.383);
  --color-gray-500: oklch(55.9% 0.01 17.454);
  --color-gray-600: oklch(48.1% 0.009 17.471);
  --color-gray-700: oklch(40.8% 0.008 17.489);
  --color-gray-800: oklch(32.2% 0.007 17.529);
  --color-gray-900: oklch(22.1% 0.005 17.514);
  --color-gray-950: oklch(16% 0.002 17.333);

  --color-zinc-50: oklch(93.1% 0 0);
  --color-zinc-100: oklch(87% 0 0);
  --color-zinc-200: oklch(83.6% 0 0);
  --color-zinc-300: oklch(78.9% 0 0);
  --color-zinc-400: oklch(70.6% 0.015 74.373);
  --color-zinc-500: oklch(60% 0 0);
  --color-zinc-600: oklch(50% 0 0);
  --color-zinc-700: oklch(43.6% 0.016 71.093);
  --color-zinc-800: oklch(33.7% 0 0);
  --color-zinc-900: oklch(23.1% 0 0);
  --color-zinc-950: oklch(16.6% 0.004 48.47);

  --color-neutral-50: oklch(93.2% 0.005 67.761);
  --color-neutral-100: oklch(87.2% 0.007 67.733);
  --color-neutral-200: oklch(83.9% 0.01 62.562);
  --color-neutral-300: oklch(80.1% 0.012 71.872);
  --color-neutral-400: oklch(70.6% 0.015 74.373);
  --color-neutral-500: oklch(59.1% 0.019 70.381);
  --color-neutral-600: oklch(50.9% 0.018 67.404);
  --color-neutral-700: oklch(43.6% 0.016 71.093);
  --color-neutral-800: oklch(34.4% 0.012 72.417);
  --color-neutral-900: oklch(23.3% 0.007 67.456);
  --color-neutral-950: oklch(16.6% 0.004 48.47);

  --color-stone-50: oklch(93.4% 0.01 67.699);
  --color-stone-100: oklch(87.5% 0.02 69.968);
  --color-stone-200: oklch(82.9% 0.026 65.518);
  --color-stone-300: oklch(79.7% 0.03 64.035);
  --color-stone-400: oklch(71% 0.038 64.435);
  --color-stone-500: oklch(61.2% 0.052 61.422);
  --color-stone-600: oklch(47.9% 0.038 63.707);
  --color-stone-700: oklch(41% 0.032 64.882);
  --color-stone-800: oklch(32.3% 0.024 61.598);
  --color-stone-900: oklch(22.3% 0.015 66.95);
  --color-stone-950: oklch(16.2% 0.008 67.187);

  --color-mist-50: oklch(90.4% 0.009 247.922);
  --color-mist-100: oklch(86.9% 0.012 239.929);
  --color-mist-200: oklch(83.5% 0.017 236.738);
  --color-mist-300: oklch(79.4% 0.022 241.429);
  --color-mist-400: oklch(72% 0.027 244.56);
  --color-mist-500: oklch(65.7% 0.028 240.879);
  --color-mist-600: oklch(57.1% 0.026 242.178);
  --color-mist-700: oklch(48.6% 0.022 243.308);
  --color-mist-800: oklch(37.8% 0.016 244.616);
  --color-mist-900: oklch(27.9% 0.009 248.163);
  --color-mist-950: oklch(23.6% 0.008 240.237);

  --color-mauve-50: oklch(90.3% 0.022 325.761);
  --color-mauve-100: oklch(86.1% 0.03 325.831);
  --color-mauve-200: oklch(82.9% 0.033 325.874);
  --color-mauve-300: oklch(79% 0.036 325.908);
  --color-mauve-400: oklch(65.9% 0.048 326.109);
  --color-mauve-500: oklch(55.9% 0.051 325.062);
  --color-mauve-600: oklch(48.4% 0.045 324.863);
  --color-mauve-700: oklch(40.9% 0.039 324.572);
  --color-mauve-800: oklch(32.5% 0.029 326.216);
  --color-mauve-900: oklch(27.6% 0.023 326.181);
  --color-mauve-950: oklch(23.3% 0.022 326.247);
}
